<aside class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <button type="button" class="btn btn-default btn-md scroll-to-top">
    <span>Top</span>
  </button>
  <button type="button" class="btn btn-default btn-md scroll-to-bottom">
    <span>Btm</span>
  </button>
</aside> <!-- /.blog-sidebar -->
